body{
    background: #2A5D5A;

}
.a{
    text-align: center;
    color: white;
    font-size: 50px;
    background: #311313;
    margin: 70px 1990px;
}
.qora{
    background-color: black;
    color: white;
    border: 5px solid rgb(0, 26, 255);
    padding: 50px ;
    margin: 100px 250px;
}
p{
    background-color: aquamarine;
    font-size: 100p;
    font-weight: 100px;
    padding: 54px 50px;
}